@import "~antd/lib/style/index";
.footer-contact {
    font-size: 1.1vw;
    padding-bottom: 1rem;
}
.footer-contact-mobile {
    font-size: 4vw;
    padding-bottom: 1rem;
}
.link-category {
    color: #222222;
    margin-left: 0;
}
.link-category-act {
    border-bottom: 2px solid #2f80ed;
    color: #2f80ed;
    width: 65%;
}
.link-category:link {
    color: #222222;
}

.link-category:visited {
    border-bottom: 3px solid #2f80ed;
    color: #2f80ed;
}

.link-category:hover {
    border-bottom: 3px solid #2f80ed;
    color: #2f80ed;
    width: 65%;
}
.link-category:active {
    border-bottom: 3px solid #2f80ed;
    color: #2f80ed;
    width: 65%;
}
.icon {
    float: left;
}
.icon2 {
    clear: both;
}
.icon-sosmed {
    color: white;
}
.img1 {
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
}
.img2 {
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
}
.img3 {
    background-repeat: no-repeat;
    padding-bottom: 1.5rem;
}
.img4 {
    padding-top: 1.25rem;
    background-repeat: no-repeat;
    padding-bottom: 1.75rem;
}
.ant-card-bordered {
    border: 1px solid #f0f0f0;
}
.ant-card-bordered:hover {
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 13px rgba(185, 185, 185, 0.685);
}
.productdetailsection {
    background-color: #f5f5f5;
    padding-top: 4.5rem;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 13rem;
}
.insideleft {
    float: left;
    margin-bottom: 0.5rem;
}
.inside {
    float: right;
    margin-bottom: 0.5rem;
}

.menuBar {
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    background: linear-gradient(114deg, white 80.35%, #2f80ed 0%);
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #f5f5f5;
    border-bottom: 3px solid #2f80ed;
    width: 65%;
}
.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f5;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 20px !important;
}
.menu-antd {
    background: linear-gradient(114deg, white 62.75%, #2f80ed 0%);
    padding-top: 0.3rem;
}

.projectsection1 {
    height: 50vh;
    padding-top: 2.5rem;
    background-image: url("/images/proyekheader.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.projectsection2 {
    padding-top: 2.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
    position: relative;
    top: 1px;
    display: inline-block;
    vertical-align: bottom;
    border: none !important;
}
.styling:link {
    color: black;
}
.styling:visited {
    color: #2f80ed;
    font-weight: bold;
}
.styling:hover {
    color: #2f80ed;
    border-bottom: 3px solid #1890ff;
}

.container-icon {
    padding-top: 100%;
    padding-bottom: 1rem;
}
.icon-sosmed {
    font-size: 5vw;
    color: white;
    padding: 1.5rem;
}
.aboutsection1 {
    height: 50vh;
    background-image: url("/image/section2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
}
.aboutsection1-mobile {
    background-color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 6rem;
}
.blogsection1-mobile {
    background-color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.aboutsection2 {
    padding: 3.5rem;
    background-color: #f5f5f5;
}
.blogsection {
    background-color: #f5f5f5;
}
.aboutsection3 {
    padding: 3.5rem;
    background-color: #2f80ed;
}
.aboutsection4 {
    padding: 3.5rem 3.5rem 13rem 0;
}
.ant-input-suffix {
    margin-left: 4px;
    width: 2vw;
}
.section1 {
    height: 90vh;
    background-image: url("/image/background-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
}
.section1-mobile {
    background-image: url(/image/mobile-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    padding: 4rem 1.5rem 1rem 1.5rem;
}
.section2 {
    height: 55vh;
    background-image: url("/image/section2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
}
.section2-mobile {
    background-image: url("/image/timeline-mobilee.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 1.5rem;
}
.section3 {
    background-color: #f5f5f5;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 5rem;
}
.productsection1 {
    background-color: #f5f5f5;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
}
.productsection1-mobile {
    background-color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.customersection1-mobile {
    background-color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
}
.sectionbutton {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 11.3rem;
}
.sectionbuttonproject {
    padding-bottom: 3.5rem;
}
.section3-mobile {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    background-color: #f5f5f5;
}
.section4 {
    background-color: #f5f5f5;
    height: 60vh;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 6rem;
    padding-bottom: 37rem;
}
.section4-mobile {
    background-color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}
.section9 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 2rem;
    background-color: #f5f5f5;
}
.section9-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    background-color: #f5f5f5;
}

.ant-drawer-body {
    padding: 0;
    background: #2f80ed;
}
.menuBar {
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
}
.ant-card-body {
    padding: 0px;
}
.ant-modal-body {
    padding: 4rem;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
}
.logo2 {
    float: left;
    padding-top: 3.5rem;
}
.logo {
    width: 150px;
    float: left;
}

.logo a {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px 4px;
    border: none;
    text-transform: capitalize;
}
.textinfo {
    float: left;
    padding-right: 0.5rem;
}
.textinfodesc {
    padding-right: 1.2rem;
    float: left;
    font-size: 0.9vw;
}
.title-invest {
    font-weight: bold;
    font-size: 1.4vw;
    padding: 1rem 1rem 0rem 1rem;
    text-align: left;
}
.textinfoprogress {
    clear: both;
}
.padding-invest {
    padding: 1rem;
    text-align: left;
}
.section4-left {
    padding-right: 0rem;
}
.blog {
    float: left;
    padding-right: 1rem;
}
.product-list {
    padding: 1rem;
    text-align: center;
}
.product-list-mobile {
    padding: 1rem;
    text-align: left;
}
.float {
    float: left;
}
.ant-divider-horizontal {
    display: block;
    clear: both;
    width: 100%;
    min-width: 100%;
    height: 1px;
    margin: 10px 0;
}
.barsMenu {
    float: right;
    height: 32px;
    padding: 0px 6px 6px 6px !important;
    margin-top: 0px !important;
    display: none;
    border: none;
    background: white !important;
    -webkit-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.045);
}
.row-navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 5;
    box-shadow: 0 0 30px #d3d3d377;
}
.row-navbar-mobile {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 5;
    box-shadow: 0 0 30px #d3d3d377;
    padding-left: 1rem;
    padding-right: 1rem;
}
.menuCon {
    width: calc(100% - 150px);
    float: right;
}
.menuCon .ant-menu-item {
    padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
    border-bottom: none;
}
.menuCon .leftMenu {
    float: left;
}
.menuCon .rightMenu {
    float: right;
}
.search {
    width: 100%;
    height: 8vh;
    padding: 0.9rem;
}
.barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: #2f80ed;
    position: relative;
}
.ant-btn-primary {
    background: #2f80ed;
}
.ant-divider-horizontal {
    display: block;
    clear: both;
    width: 40%;
    min-width: 40%;
    height: 5px;
    margin: 10px 0;
    background-color: #2f80ed;
}
.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: #2f80ed;
}
.barsBtn:after {
    top: auto;
    bottom: -6px;
}
.ant-drawer-body {
    padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
    display: inline-block;
    width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom-color: transparent;
}
@media (max-width: 360px) {
    .section4-right {
        padding-right: 0.5rem;
    }
    .section4-left {
        padding-left: 0.5rem;
    }
    .section4-mobile {
        background-color: #f5f5f5;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }
    .container-icon {
        padding-top: 70%;
    }
}
@media (max-width: 767px) {
    .barsMenu {
        display: inline-block;
    }
    .leftMenu,
    .rightMenu {
        display: none;
    }
    .logo a {
        margin-left: -20px;
    }
    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 1px 20px;
    }
    .logo a {
        padding: 10px 20px;
    }
    .topinfo {
        font-size: 20px;
    }
    .ant-menu-root.ant-menu-vertical,
    .ant-menu-root.ant-menu-vertical-left,
    .ant-menu-root.ant-menu-vertical-right,
    .ant-menu-root.ant-menu-inline {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #2f80ed;
    }
}
.ant-menu-horizontal > .ant-menu-item-selected > a {
    border-bottom: 3px solid #1890ff;
}
.top {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
// @media (min-width: 1440px) {
//     .section1 {
//         height: 65vh;
//         background-image: url("/image/background-main.png");
//         background-repeat: no-repeat;
//         background-size: contain;
//         padding-left: 12rem;
//         padding-right: 12rem;
//     }
//     .search {
//         width: 100%;
//         height: 6vh;
//         padding-top: 1.3rem;
//     }
//     .top {
//         margin-bottom: 5rem;
//         margin-top: -2rem;
//     }
// }
// @media (max-width: 1024px) {
//     .section1 {
//         height: 50vh;
//         background-image: url("/image/background-main.png");
//         background-repeat: no-repeat;
//         background-size: contain;
//         padding-left: 10rem;
//         padding-right: 10rem;
//     }
//     .search {
//         width: 100%;
//         height: 6vh;
//         padding-top: 1.3rem;
//     }
//     .top {
//         margin-bottom: 6rem;
//         margin-top: 5rem;
//     }
// }
// @media (min-width: 2560px) {
//     .section1 {
//         height: 100vh;
//         background-image: url("/image/background-main.png");
//         background-repeat: no-repeat;
//         background-size: contain;
//         padding-left: 15rem;
//         padding-right: 15rem;
//     }
//     .search {
//         width: 100%;
//         height: 7vh;
//         margin-top: 2rem;
//         vertical-align: middle;
//     }
//     .top {
//         margin-bottom: 6rem;
//         margin-top: 5rem;
//     }
// }
